body{
    font-family: "Open Sans", serif;
    margin: 0;
}
/* styles hader content */
.header{
    background-image: url('images/wave.svg');
    background-repeat: no-repeat;
}
.all-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 100px;
    }
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
    color: white;
    margin-top: 100px;
}

.button{
    font-size: larger;
    text-decoration: none;
    font-weight: 700;
    padding: 7px 30px;
    border-radius: 8px;
    border: none;
    color: white;
    background-image: linear-gradient(blueviolet, blue);
}

.button:hover{
    transform: scale(1.1, 1);
}
img{
    width: 25%;
    border-radius: 50%;
}

/* style main section  */
.desp{
    margin-right: 20%;
}
.image{
margin-left: 120px;
width: 20%;
}

/* section styles */

.parent-div{
    display: flex;
    margin: 0px 200px;
}
.child-div{
    margin: 10px 50px;
    margin-bottom: 25px;
    padding: 50px 120px;
    border-radius: 0 30px 80px 0px;
    box-shadow: 5px 5px 15px;
    border-left: 5px solid;
    border-image: linear-gradient(tomato,blue, cyan, red) 0 100%;

}
.child-div:hover{
    transform: scale(1.1, 1.1);
}

/* styles footer sections */
footer{
    background-color: black;
}
.parent1-div{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
}
.chil1-div{
    padding: 0px 35px;
    margin: 20px 0px;
}
.chil1-div>p{
    color: darkgray;
}
.chil1-div>h4{
    color: white;
}
.footer-col{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.chil1-div> h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}


.name{
    
    margin: 500px 800px;
    text-align: center;
    padding: 50px 50px;
    background-color: #99ffff;
    border-radius: 50px;
    
}
.box1{
    background-color:#006666;
    padding: 50px 50px;
    border-radius: 20px;
    margin-bottom: 10px;

}
.box2{
    background-color: #00cccc;
    /* color: red; */
    padding: 50px 50px;
    border-radius: 20px;
    margin-bottom: 10px;

}
.box3{
    background-color:#00ffff;
    /* color: green; */
    padding: 50px 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.box4{
    background-color: #33ffff;
    /* color: yellowgreen; */
    padding: 50px 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.box5{
    background-color: #009999;
    /* color: tomato; */
    padding: 50px 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.box5:hover,.box1:hover,.box3:hover,.box4:hover,.box2:hover{
    transform: scale(1.1, 1);
}

